{{! Generate a 404 page }}
<section class='flex-center'>

  <h1 class='title-404'>404</h1>
  <p class='p-404'><span>Ups!</span> Parece que no hay nada aquí.</p>
  <img
    src='assets/this-is-fine.gif'
    alt='This is fine. Everything is fine.'
    style='width: 100%; height: auto;'
  />

  <div class='go-back-404'>
    <a href='/login'>Volver a la página principal</a>
  </div>
</section>