<div class='center'>

  <section class='form-section'>

    <form class='form' id='loginForm'>
      <h1 class='form-title'>Inicio de sesión</h1>

      <div class='form-body'>

        <label for='email'>Email:</label>
        <input type='email' id='email' name='email' required />

        <label for='password'>Contraseña:</label>
        <input type='password' id='password' name='password' required />

        <input type='submit' value='Iniciar Sesión' />
      </div>
    </form>
  </section>
  <a href='/register' class='center' style='margin-top: 10px;'>¿No tienes cuenta? Regístrate aquí</a>
</div>