<h1>Productos en tiempo real con socket.io</h1>
<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Código</th>
      <th>Categoría</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Estado</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody id='tbody'>

  </tbody>
</table>
<div id='products'></div>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/realTimeProducts.js'></script>