<div class='center'>

  <section class='form-section'>

    <form id='registerForm' class='form'>
      <h1 class='form-title'>Formulario de Registro</h1>

      <div class='form-body'>

        <label for='firstName'>Nombre:</label>
        <input type='text' id='firstName' name='firstName' required />

        <label for='lastName'>Apellido:</label>
        <input type='text' id='lastName' name='lastName' required />

        <label for='email'>Email:</label>
        <input type='email' id='email' name='email' required />

        <label for='age'>Edad:</label>
        <input type='number' id='age' name='age' required />

        <label for='password'>Contraseña:</label>
        <input type='password' id='password' name='password' required />

        <input type='submit' value='Registrarse' />
      </div>
    </form>
  </section>
</div>