.delete-button {
  background-color: #ff2525 !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  /* font-size: 1rem; */
  float: right;
  transition: all 0.3s ease-in-out;
}

.delete-button:hover {
  background-color: #fff !important;
  color: #ff0000 !important;
  border: 0.5px solid #ff0000;
}
